@tailwind utilities;
@tailwind components;
@tailwind base;

@layer base {
  #time-ruler button {
    @apply selectable bg-transparent;
  }
}

@layer components {
  .selectable {
    @apply transition-colors duration-300 mouse:hover:bg-hover;
  }

  .tr-menu {
    @apply absolute left-0 top-full z-50 max-w-[80vw] p-2 text-sm;
  }

  .tr-menu > div {
    @apply rounded-icon border border-solid border-faint bg-primary p-2;
  }

  .tr-menu > div > div {
    @apply flex items-center !justify-start space-x-2;
  }
  div.unscheduled div.time-ruler-groups {
    @apply flex overflow-y-hidden overflow-x-auto flex-col flex-wrap !w-full !h-full snap-x snap-mandatory;
  }

  div.unscheduled div.time-ruler-group {
    @apply max-h-full !overflow-y-auto snap-start;
  }
}

@layer utilities {
  .obsidian-border {
    box-shadow: 0 0 0 1px var(--background-modifier-border);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .force-hover:hover {
    opacity: var(--icon-opacity-hover) !important;
    color: var(--icon-color-hover) !important;
    background-color: var(--background-modifier-hover) !important;
  }

  .force-hover {
    @apply transition-colors duration-300;
  }
}
